<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/arf.css' %}"/>
    <script type="text/javascript" src="{% static 'd3/d3.v3.min.js' %}"></script>
    <title>OSINT Workflow</title>
  </head>
<!-- 
  <body> -->
    <div id="body">
      <div id="header">
        SOCMINT Framework
          <hr/>
      </div>
    </div>

    <script src="{% static 'd3/arf.js' %}"></script>

    <div class="legend"><p><b>“It has long been an axiom of mine that the little things are infinitely the most important.”</b>
       <br> ― Arthur Conan Doyle, The Memoirs of Sherlock Holmes</p></div>

    <h3>Note: A guiding workflow for social media analytics, OSINT trackbacks and response in cognitive domain. </h3>
    <h3>Designed by: Asim Bakhshi</h3>

  <!-- </body> -->

</html>